<%= tag :div, class: "contestant_information", data: {id: @contestant.id, name: @contestant.name} %>

<div class="row">
<div class="col-md-6">
<div class="square-img-container">

<img class = "img-responsive img-fluid square-headshots" src="<%= @contestant.headshot %> " alt="contestant headshot">
</div>
</div>

<div class="col-md-6">
<h1 class = "cont-name"><%= @contestant.name %></h1>
<div class="contestant-info">


<p><i class="fa fa-heartbeat" aria-hidden="true"></i>  Age: <%= @contestant.age %></p>
<p><i class="fa fa-map-marker" aria-hidden="true"></i>   Hometown: <%= @contestant.hometown %></p>
<p><i class="fa fa-briefcase" aria-hidden="true"></i> Occupation: <%= @contestant.occupation %></p>
</div>
</div>
</div>
<br>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#stats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#personality-profile">Personality Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#social-media">Social Media</a>
      </li>
    </ul>
  </div>
</nav>


<div class = "text-center contestant-details" data-spy="scroll" data-offset="0">
  <div class="text-left section-header">
    <h4 id="stats">Season Stats</h4>
    <div class = "section-underline"></div>
  </div>

    <div id="container"></div>
    <div class="row text-center stats-small-cards">

      <div class = "col-md-3">
        <div class="card stats-card">
          <div class="card-header stats-header">
            <h5>Ranking</h5>
          </div>
          <div class="card-body">
            <br>
            <div class="medal">
            <img class = "medal-img" src="https://image.flaticon.com/icons/png/128/179/179249.png" alt="">
          </div><br>

             <h4><%= @contestant.ranking %> Place</h4>
           </div>
         </div>
       </div>

       <div class = "col-md-3">
         <div class="card stats-card">
           <div class="card-header stats-header">
             <h5>Points this Week</h5>
           </div>
           <div class="card-body">
             <br>
             <div class="">
              <i class="fa fa-star points" aria-hidden="true"></i>
            </div>

             <h4><%= @contestant.weekly_points(current_week) %></h4>
            </div>
          </div>
        </div>

        <div class = "col-md-3">
          <div class="card stats-card">
            <div class="card-header stats-header">
              <h5>Points this Season</h5>
            </div>
            <div class="card-body">
              <br>
              <div class="">
                <i class="fa fa-star points" aria-hidden="true"></i>
                <i class="fa fa-star points" aria-hidden="true"></i>
               <i class="fa fa-star points" aria-hidden="true"></i>
             </div>

              <h4><%= @contestant.season_points %></h4>
             </div>
           </div>
         </div>

         <div class = "col-md-3">
           <div class="card stats-card">
             <div class="card-header stats-header">
               <h5>Highest Scoring Play of the Season</h5>
             </div>
             <div class="card-body">
               <% if @contestant.biggest_play %>
                 <h5 class = "play-points"><i class="fa fa-minus" aria-hidden="true"></i> <%= @contestant.biggest_play.point_value %> Points <i class="fa fa-minus" aria-hidden="true"></i></h5>
                  <%= @contestant.biggest_play.description %><br>
              <% else %>
                <br><br><h3>No plays yet!</h3>
              <% end %>
              </div>
            </div>
          </div>
    </div>
    <div class="text-left section-header">
      <h4 id="personality-profile">Personality</h4>
      <div class = "section-underline"></div>
    </div>
  <div class="row text-center personality">
    <% @contestant.contestant_qualities.each do |quality| %>
        <div class="col-md-2">
          <p><%= quality.quality.name %></p>
          <div class = "circle-chart" id="trait-<%= quality.quality.name.downcase %>"  data-percent="<%= quality.percentage %>"></div>
        </div>
      <% end %>
      <div class="col-md-12">
        <small>Personality analysis powered by Watson and Twitter.</small>
      </div>
      <% if @contestant.contestant_qualities.empty? %>
        <h4><%= @contestant.name %> isn't on twitter, so we can't do a personality analysis &#x1F61E; </h4>
      <% end %>
  </div>
  <div class="text-left section-header">
    <h4 id="social-media">Social Media</h4>
    <div class = "section-underline"></div>
  </div>
  <p>
    <% if @contestant.twitter_handle.length > 2 %>
      <a class="twitter-timeline" href="https://twitter.com/<%= @contestant.twitter_handle %>">Recent Tweets by <%= @contestant.name %></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <% else %>
      <h4><%= @contestant.name %> isn't on twitter &#x1F615 </h4>
    <% end %>
  </p>
</div>
