

<div class="col-md-4">
  <h5 class ="text-center pts-milestones">Show Milestones</h5><br>
  <% Play.find_all(current_season.season_type, "show_milestones").each do |play| %>
    <p class =""><span class=" action-description"><%= play.description.titleize %></span><span class="float-right"><%= play.point_value %></span></p>
  <% end %>
</div>
<div class="col-md-4 middle-col">
  <h5 class ="text-center pts-do">Things They Do</h5><br>
  <% Play.find_all(current_season.season_type, "things_they_do").each do |play| %>
    <p class =""><span class=" action-description"><%= play.description.titleize %></span><span class="float-right"><%= play.point_value %></span></p>
  <% end %>
</div>
<div class="col-md-4">

  <h5 class ="text-center pts-say">Things They Say</h5><br>
  <% Play.find_all(current_season.season_type, "things_they_say").each do |play| %>
    <p class =""><span class=" action-description"><%= play.description.titleize %></span><span class="float-right"><%= play.point_value %></span></p>
  <% end %>



</div><var></var>
