<h1 class = "d-flex justify-content-between page-header"><span>Episode <%= @week.week_number %></span><span class = "justify-content-end"> <img class = "circular-headshots" src="<%= current_season.headshot %>" alt="bachelor/bachelorette headshot"> <%= current_season.first_name %>'s Season</span></h1>
<div class="row">
  <% @week.contestants.each do |contestant| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail contestant-<%= contestant.id %>">
      <img src="<%= contestant.headshot %> " alt="contestant headshot">
      <div class="caption text-center">
        <h3><%= contestant.name %> </h3>
        <h3>Points this week: <%= contestant.weekly_points(@week) %> </h3>
        <% contestant.weekly_actions(@week).each do |action| %>
          <p><%= action.play.description %> x<%= action.count %> </p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
