<h1 class = "d-flex justify-content-between page-header"><span>Episode <%= @week.week_number %></span><span class = "justify-content-end"> <img class = "circular-headshots" src="<%= current_season.headshot %>" alt="bachelor/bachelorette headshot"> <%= current_season.first_name %>'s Season</span></h1>
<div class="card-columns">
  <% @week.contestants.each do |contestant| %>
  <div class="card contestant-<%= contestant.id %> text-center" style="">
    <div class="md-circle-img-container">
      <img class="md-circular-cont-headshots" src="<%= contestant.headshot %> " alt="contestant headshot">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center"><%= contestant.name %></h5>
      <h5 class = "card-text text-center cont-pts"><i class="fa fa-minus" aria-hidden="true"></i> Points this week: <%= contestant.weekly_points(@week) %> <i class="fa fa-minus" aria-hidden="true"></i></h5>
<br>
      <% contestant.weekly_actions(@week).each do |action| %>
      <% unless action.count == 0 %>
      <p class = "card-text text-left">
        <span class="badge points-badge"><%= action.points %> Points</span>
        <%= action.play.description %> <span class="badge count-badge badge-light">x<%= action.count %></span>
      </p>
      <% end %>
      <% end %>
      <div class="text-center">
      <%= link_to(contestant, class: "btn btn-primary cont-page-btn") do %>
        <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <%= contestant.name %>'s Page</span>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
