<% unless current_user.leagues.include?(@league) %>
<h4 class = "text-center">Join or Create Team! </h4>
<% end %>
<h5 class = "text-center">There are up to 4 teams allowed per league, but unlimited players on each team.</h5>
<br>
<div class="card">
<div>
<table class="table">
  <thead class ="card-header">
    <tr>
      <th scope="col"></th>
      <th scope="col">Team Name</th>
      <td scope="col">Members</td>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @league.teams.each do |team| %>
      <tr>
        <th scope="row"></th>
        <th scope="row"><%= team.name %></th>
        <td><% team.users.each do |user| %>
            <%= user.name %><br>
            <% end %>
        </td>
        <% if current_user.teams.include?(team) %>
          <td><%= link_to "Delete Team", team_path(team), method: :delete, class: "btn btn-red btn-sm" %></td>
        <% elsif @league.team_of_user(current_user) == nil %>
          <td><%= link_to "Join", team_members_path(team_id: team.id, user_id: current_user.id), method: :post, class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if @league.teams.count < 4 && @league.team_of_user(current_user) == nil %>
<button class="btn btn-primary btn-no-margin" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Create a New Team
</button>
<% end %>
<div class="collapse" id="collapseExample">
  <div class="card card-body text-center">
    <%= form_for(:team, url: teams_path) do |f| %>
      <%= f.hidden_field :league_id, :value => @league.id %>
      <%= f.label :team_name, "Team Name" %>
      <%= f.text_field :team_name %>
      <%= f.submit 'Create', :class =>"btn btn-primary"%>
    <% end %>
  </div>
</div>



</div>
