<%= render :partial => "users/user_profile_navbar" %>

<ul class="nav nav-fill nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#league-<%= @league.id %>-team" role="tab">Team <%= @league.team_of_user(current_user).name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#league-<%= @league.id %>-league" role="tab">League <%= @league.name %></a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="league-<%= @league.id %>-team" role="tabpanel">
    <h3 class = text-center>Team Roster</h3>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Contestants</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.team_of_user(current_user).contestants.each do |contestant| %>
        <tr>
          <td><img class = "circular-headshots" src="<%= contestant.headshot %>" alt="contestant-headshot"><%= contestant.name %></td>
          <td class = "text-center"><%= contestant.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="league-<%= @league.id %>-league" role="tabpanel">
    <h3 class = text-center>League Overview</h3>
    <table class="table table-responseive">
      <thead>
        <tr>
          <th>Team</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td class = "text-center"><%= team.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
