<%= render :partial => "users/user_profile_navbar" %>

<ul class="nav nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#league-<%= @league.id %>-team" role="tab">Team <%= @league.id %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#league-<%= @league.id %>-league" role="tab">League <%= @league.id %></a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="league-<%= @league.id %>-team" role="tabpanel">
    <table class="table table-responseive">
      <thead>
        <tr>
          <th></th>
          <th>Contestants</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <%= @league.team_of_user(current_user).contestants.each do |contestant| %>
        <tr>
          <td><img src="<% contestant.headshot %>" alt="contestant-headshot"></td>
          <td><%= contestant.name %></td>
          <td><%= contestant.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="league-<%= @league.id %>-league" role="tabpanel">league stuff</div>
</div>
