<div class="league-show">
<%= render :partial => "users/user_profile_navbar" %>

<ul class="nav nav-fill nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#league-<%= @league.id %>-team" role="tab">Team <%= @league.team_of_user(current_user).name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#league-<%= @league.id %>-league" role="tab">League <%= @league.name %></a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="league-<%= @league.id %>-team" role="tabpanel">
    <% if @league.team_of_user(current_user).contestants.empty? && !@league.team_of_user(current_user).has_drafted? %>
    <div class="jumbotron text-center">
      <h1 class="display-3 ">This season's draft takes place on <%= current_season.draft_date.to_formatted_s(:long_ordinal)  %></h1>
      <p class="lead">Visit the draft room to set your rankings!</p>
      <hr class="my-4">
      <p class="lead">
        <%= link_to "Draft Room", team_draft_picks_path(@league.team_of_user(current_user)), class: "btn btn-primary btn-lg"%>
      </p>
    </div>
    <% elsif @league.team_of_user(current_user).contestants.empty? %>
      <div class="text-center">
      <h3>Your Draft Picks </h3><br>
      <h4>This season's draft takes place on <%= current_season.draft_date.to_formatted_s(:long_ordinal) %>. Visit the draft room to edit your picks. </h4><br>
      <%= link_to "Edit Draft Picks", team_draft_picks_path(@league.team_of_user(current_user)), class: "btn btn-primary btn-lg" %>
    </div><br>

      <div class="row">
        <% @league.team_of_user(current_user).draft_picks.order(:rank).each do |pick| %>
        <div class="col-md-4">
        <div class="">
          <div class="d-flex justify-content-between">
            <span class = "cont-name"><%= pick.rank %>.
              <span class = "text-center"><img class = "circular-headshots" src="<%= pick.contestant.headshot %>" alt="contestant-headshot">
            <%= pick.contestant.name %></p></span>
          </div>
        </div>
      </div>
        <% end %>
    </div>
    <% else %>
    <h3 class = text-center>Team Roster</h3>
    <table class="table table-responsive roster">
      <thead>
        <tr>
          <th>Contestants</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.team_of_user(current_user).contestants.each do |contestant| %>
        <tr>
          <td><img class = "circular-headshots" src="<%= contestant.headshot %>" alt="contestant-headshot"><%= contestant.name %></td>
          <td class = "text-center"><%= contestant.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="tab-pane" id="league-<%= @league.id %>-league" role="tabpanel">
    <div class="row">
    <div class="col-md-8">
    <h3 class = text-center>League Overview</h3>
    <table class="table table-responseive">
      <thead>
        <tr>
          <th>Team</th>
          <th class = "text-center">Points this Week</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td class = "text-center"><%= team.week_points(current_week) if current_week %></td>
          <td class = "text-center"><%= team.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if current_season && current_season.drafted %>
  <div class="col-md-4 mvp">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Season MVP</h3>
        <img class = "img-responsive md-circular-headshots" src="<%= current_season.mvp.headshot %> " alt="contestant headshot">
        <h4><%= current_season.mvp.name %></h4>
        <h5><%= current_season.mvp.season_points %> Points</h5>
        <h5>Owned by team <%= @league.owner_of(current_season.mvp).name %></h5>
      </div>
    </div>
      </div>

      <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Biggest Play this Season</h3>
          <img class = "img-responsive md-circular-headshots" src="<%= current_season.contestant_with_biggest_play.headshot %> " alt="contestant headshot">
          <h4><%= current_season.contestant_with_biggest_play.name %></h4>
          <h5><%= current_season.contestant_with_biggest_play.biggest_play.description %> for <%= current_season.contestant_with_biggest_play.biggest_play.point_value %> Points</h5>
          <h5>Owned by team <%= @league.owner_of(current_season.contestant_with_biggest_play).name %></h5>
        </div>
      </div>
        </div>
          <% end %>
  </div>
  </div>
</div>
</div>
</div>
