<div class="league-show">
<%= tag :div, class: "league_information", data: {id: @league.id} %>

<%= render :partial => "users/user_profile_navbar" %>
<% if @league.team_of_user(current_user).contestants.empty? && !@league.team_of_user(current_user).has_drafted? %>
  <%= render :partial => "pre_draft_picks", locals: {league: @league} %>
<% elsif @league.team_of_user(current_user).contestants.empty? %>
  <%= render :partial => "after_draft_picks", locals: {league: @league} %>
<% else %>
<ul class="nav nav-fill nav-pills" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#league-<%= @league.id %>-league" role="tab">League <%= @league.name %></a>
  </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#league-<%= @league.id %>-team" role="tab">Team <%= @league.team_of_user(current_user).name %></a>
    </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="league-<%= @league.id %>-team" role="tabpanel">

    <h3 class = text-center>Team Roster</h3>
    <table class="table table-responsive roster">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class = "text-center">Points this Week</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.team_of_user(current_user).contestants.each do |contestant| %>
        <tr>
          <td style="width:10%">
            <div class="circle-img-container-table">

            <img class = "circular-cont-headshots" src="<%= contestant.headshot %>" alt="contestant-headshot">
          </div>
        </td>
          <td style="width:10%">
          <p> <%= contestant.name %></p>
        </td>
        <td class = "text-center">
          <p><%= contestant.weekly_points(current_week) %></p>
        </td>

          <td class = "text-center">
          <p><%= contestant.season_points %></p>
          </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="tab-pane active" id="league-<%= @league.id %>-league" role="tabpanel">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">League <%= @league.name %> Members</h4>
            <% @league.teams.each do |team| %>
            <h5><%= team.name %></h5>
            <% team.users.each do |user| %>
            <p><%= user.name %></p>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
    <h3 class = text-center>League Overview</h3><br><br>
    <table class="table table-responseive">
      <thead>
        <tr>
          <th>Team</th>
          <th class = "text-center">Points this Week</th>
          <th class = "text-center">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @league.teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td class = "text-center"><%= team.week_points(current_week) if current_week %></td>
          <td class = "text-center"><%= team.season_points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
</div>
  </div>

  <% if current_season && current_season.drafted %>
  <div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <div id="team-chart"></div>
      </div>
    </div>
  </div>
</div>
  <div class="row">

  <div class="col-md-6 mvp">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Season MVP</h3>
        <div class="md-circle-img-container">

          <img class = "img-responsive md-circular-cont-headshots" src="<%= current_season.mvp.headshot %> " alt="contestant headshot">
        </div>
        <h4><%= current_season.mvp.name %></h4>
        <h5><%= current_season.mvp.season_points %> Points</h5>
        <h5>Owned by team <%= @league.owner_of(current_season.mvp).name %></h5>
      </div>
    </div>
  </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Highest Scoring Play this Season</h3>
          <div class="md-circle-img-container">

          <img class = "img-responsive md-circular-cont-headshots" src="<%= current_season.contestant_with_biggest_play.headshot %> " alt="contestant headshot">
        </div>

          <h4><%= current_season.contestant_with_biggest_play.name %></h4>
          <h5><%= current_season.contestant_with_biggest_play.biggest_play.description %> for <%= current_season.contestant_with_biggest_play.biggest_play.point_value %> Points</h5>
          <h5>Owned by team <%= @league.owner_of(current_season.contestant_with_biggest_play).name %></h5>
        </div>
      </div>
    </div>
  </div>

<% end %>
<h3 class = "text-center">Smack Talk!</h3>
<div id="league-comments"></div>
      <div class="text-center">
        <form class="form-group">
          <input type="hidden" name="league_id" id = "league-id" value= "<%= @league.id %>" >
          <input type="text" name="message" placeholder="message" class="form-control" id="comment-message"><br>
          <button type="button" class="btn btn-primary" id="create-comment">Submit</button>
        </form>
    </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<% end %>
