<div class="draft-picks">

<%= tag :div, class: "team_information", data: {id: @team.id} %>
<h1 class = "text-center"> Draft Room</h1>
<h3 class = "d-flex justify-content-between page-header"><span class="text">Team <%= @team.name %></span><span class = "justify-content-end"> <img class = "circular-headshots" src="<%= current_season.headshot %>" alt="bachelor/bachelorette headshot"> <span class="text"><%= current_season.first_name %>'s Season</span> </span></h3>

<ol class="sortable numbered-list">
    <% @team.draft_picks.order("rank").each do |pick| %>

      <li>
      <div class="card draft-card" data-id="<%= pick.contestant.id %>">
        <div class="card-body d-flex ">
            <div class="draft-img-container">
              <img class = "circular-cont-headshots" src="<%= pick.contestant.headshot %>" alt="contestant-headshot">
            </div>
          <span class ="cont-name align-middle"> <%= link_to pick.contestant.name, pick.contestant %></span>
        </div>
      </div>
    </li>
    <% end %>
</ol>

<div class="text-center">
  <%= link_to "Submit Draft Picks", league_path(@team.league), class: "btn btn-primary btn-lg" %>
</div><br>
</div>
