<div class="jumbotron text-center">
  <h1 class="display-4">Start or Join a League!</h1>
<br>
  <h3 class="">The draft for <%= current_season.first_name %>'s season takes place on <%= current_season.draft_date.to_formatted_s(:long_ordinal) %></h3>
  <div class="text-center">

  <img class = "big-square-headshot" src="<%= current_season.headshot %>" alt="contestant-headshot">
</div>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Create a League!", "#", class: "btn btn-primary btn-lg"%>
    <%= link_to "Join a League!", "#", class: "btn btn-primary btn-lg"%>
  </p>
</div>
