<section class = "page-header"><span class = "in-line"><h2>Hi <%= @user.name %></h2></span>
  <% if @user.admin? && current_admin? %>
    <span class="label label-info" id = "admin">Admin</span>
  <% end %>


    <!-- Nav tabs -->
    <span class="nav right-float" role="tablist">
      <% @user.active_leagues.each do |league| %>
      <button role="presentation active", class = "btn btn-primary" href="#league-<%= league.id %>" aria-controls="tab-<%= league.id %>" role="tab" data-toggle="tab"><%= league.name %>
<% end %>
    </span>
    </section>

    <!-- Tab panes -->
    <div class="tab-content">
      <% @user.active_leagues.each do |league| %>
        <div role="tabpanel" class="tab-pane active" id="league-<%= league.id %>">
          <%= league.name %> content
        </div>
      <% end %>

    </div>






<section>

</section>
