<section class = "page-header"><span class = "in-line"><h2>Hi <%= @user.name %></h2></span>
  <% if @user.admin? && current_admin? %>
    <span class="label label-info" id = "admin">Admin</span>
  <% end %>


    <!-- Nav tabs -->
    <ul class="nav right-float" role="tablist">
      <% @user.active_leagues.each do |league| %>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" data-toggle="tab" href="#league-<%= league.id %>" role="tab"> <%= league.name %></a>
        </li>
      <% end %>
    </ul>
    </section>

    <!-- Tab panes -->
    <div class="tab-content">
      <% @user.active_leagues.each do |league| %>
        <div class="tab-pane <%= "active" if league == @user.active_leagues.first %>" id="league-<%= league.id %>" role="tabpanel"><%= league.name %> content</div>
      <% end %>

    </div>






<section>

</section>
