<!DOCTYPE html>
<html>
  <head>
    <title>NotHereToMakeFriends</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('jquery.circliful.min') %>
    <%= stylesheet_link_tag('jquery.circliful') %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <% if current_page?(login_path) && !current_user %>
    <body class="splash" id = "bootstrap-override">
  <% else %>
    <body id = "bootstrap-override">
  <% end %>
    <% if current_user %>
      <%= render partial: "layouts/navbar" %>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>

</html>
